.main-container {
  /* background-color: black; */
  display: flex;
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
}

header {
  background-image: url(../assets/images/biscii_2022.jpg);
  border: 2px solid orange;
}
